 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Messy Data cleaning and tranformation</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I love Data Extraction, Munging, Transformation and working with large dirty datasets in general.</p>
    </div>
    <div class="tech">
      <h2>Statistics and Machine Learning</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Bayesian Statistics, Probabilistic Graphical Models, Inference and Prediction Models. (Sklearn and other Deep Learning tools like Tensorflow, PyTorch)</p>
    </div>
    <div class="tech">
      <h2>Tools and production frameworks</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Database systems (SQL, MongoDB), Big Data (Hadoop, PySpark), Scripting languages (Python, R), Data Mining and Exploration tools (Beautiful Soup, Tableau, Pentaho)</p>
    </div>
    <div class="tech">
      <h2>Other development tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>General Software engineering languages (Java- Springs, Hibernate, Android, C++) and Full Stack Development (Node.js, Django, AngularJS, React.js, etc.)</p>
    </div>
</div>
