<div class="user-details">
  <h1> Personal Blog </h1>
  <p> {{site.description}} </p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/conservativeliberal.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Should government ideally even consider conservative ideas? Is it okay to have a neo-liberal echo chamber? </h3>

    <p>Democracy justifies that every person's opinion matter. But if a society is based on the idea of utilitarianism and progressivism, can some opinions be considered fundamentally wrong?</p>
    <a class="project-link" href="blogs/blognotfound.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/decentralization.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Can a decentralized media ever work? </h3>

    <p>Discussing decentralized of media where media is considered as a functio of democracy itself. Whether it can help in making a more truer democracy.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/journalism.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Does journalism have an incentive to give out true news inherently? </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/anarchism.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Anarchism 101 </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/musiccognition.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Music cognition </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/20s.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Life lessons I learnt in early 20s</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cas11.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Let's talk about Cas11 </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/quantum.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Quantum computers, and why it probably won't solve most of the problems it's designed to solve. </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/stonedml.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Consciousness - A stoned machine learning engineer's outlook </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/hedonism.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Is it okay to trade ambition for hedonism? </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/causal.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Are causal generalisations better than <i>generalisations</i> in general? </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/consciousness.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Attention and consciousness </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bhagwadgita.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Bhagwad Gita, Cow Dung, DMT trips and Krishna consciousness </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mawepeople.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> What Mawé people teach us about life and society </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/nota.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>How can the Indian electorate system improve? </h3>

    <p>Since India is becoming a more developed democracy, it's important to look into how to make the democracy work properly, here my take on steps to improve the electorate system, making a stronger NOTA rule and more.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
