<div class="user-details">
  <h1> Personal Blog </h1>
  <p> {{site.description}} </p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/conservativeliberal.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Should government ideally even consider conservative ideas? Is it okay to have a neo-liberal echo chamber? </h3>

    <p>Democracy justifies that every person's opinion matter. But if a society is based on the idea of utilitarianism and progressivism, can some opinions be considered fundamentally wrong?</p>
    <a class="project-link" href="blogs/blognotfound.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/decentralization.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Can a decentralized media ever work? </h3>

    <p>Discussing decentralized of media where media is considered as a functio of democracy itself. Whether it can help in making a more truer democracy.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/journalism.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Does journalism have an incentive to give out true news inherently? </h3>

    <p>Since most of the journalist is driven by capitalist news sources. The rise of emerging technologies have us questioned on how the goal of increasing click rates as a metric of capitalisation might effect journalism.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/anarchism.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Anarchism 101 </h3>

    <p>If we are talking about political ideologies, anarchism seems one of the most absurd and ironical ideology. Here's my take on anarchism.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/musiccognition.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Music cognition </h3>

    <p>Ever wondered why Radiohead gives those feels? Read further...</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/20s.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Life lessons I learnt in early 20s</h3>

    <p>Writing this in my 25th year of existing, things I have learnt over time.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cas11.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Let's talk about Cas11 </h3>

    <p>Gene Modification, fuck yeah!(?)</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/quantum.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Quantum computers, and why it probably won't solve most of the problems it's designed to solve. </h3>

    <p>Opinion article, this blog may not age well, but yolo!</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/stonedml.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Consciousness - A stoned machine learning engineer's outlook </h3>

    <p>Like every other CS kid's dream, all I have fantasized is about making a true AGI. The deeper I gotten in ML, new questions have emerged about what is intelligence and whether it is the same thing as consciousness.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/hedonism.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Is it okay to trade ambition for hedonism? </h3>

    <p>Haven't we all wondered this after watching The Big Lebowski was the 997th time?</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/causal.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Are causal generalisations better than <i>generalisations</i> in general? </h3>

    <p>Do we really need a new approach to how we make generalisations in machine learning? A take on densed input vs. causal input data.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/consciousness.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Attention and consciousness </h3>

    <p>Enough ML and math, let's talk about the philosophy of mind</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bhagwadgita.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Bhagwad Gita, Cow Dung, DMT trips and Krishna consciousness </h3>

    <p>Yeah, I'm an atheist who read Bhagwad Gita, go post on r/madlads</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mawepeople.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> What Mawé people teach us about life and society </h3>

    <p>There are always some very interesting things we learn when we study different diverse cultures. Great life lessons aren't something unexpected.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/nota.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>How can the Indian electorate system improve? </h3>

    <p>Since India is becoming a more developed democracy, it's important to look into how to make the democracy work properly, here my take on steps to improve the electorate system, making a stronger NOTA rule and more.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
