<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Generative Adversarial Network (GANs) based on Capsule Neural Networks over MNIST dataset  </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Implementing a Tensorflow based experimental Generative Adversarial Network of Capsule Neural Networks. It is based on the recent works on Dynamic Routing between Capsules, an improvement over CNN, published in November 2017 by Geoffrey E Hinton, one of the founders of Neural Networks. This was the first and a novel implementation of such sort of a network available on GitHub. Val. Accuracy of 98% after 11k iterations.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Word Level Text and Music Generation by adopting Recurrent Neural Networks  </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Designing a neural creativity project created using Theano and Keras libraries for text and music generation by utilizing LSTM with a unique approach of generating text at word level instead of character making it more coherent and improving performance and efficiency</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Hand gesture recognition using Probabilistic Graphical models and Statistical method analysis.  </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Analyzed 2GB of data using extensive feature engineering and Bayesian analysis. Applied kernel tricks along with feature selection using ARD and density estimation using Probabilistic graphical models. Classified the dataset using a series of boosted classifiers along with Gaussian process for classification. Received an RMSE equivalent to the state of art deep learning model for such application. This has application in medical data where the amount of data is very less.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Multi-Language Identification Using Convolutional Recurrent Neural Networks </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Developing an application, as a Senior Year Project, designed a novel approach in Automatic Speaker Recognition Technology by implementing a new ConvLSTM architecture in Tensorflow, applied for classification of the speaker's language/accent directly from raw audio data. Our team witnessed upto 96% accuracy (true positives) over testing dataset.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
